@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(12, 12, 12);
       
}

header{
    margin: auto;
    padding: 20px;
    color: rgb(0, 226, 0);
    text-shadow: 0px 0px 0.5px rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(32, 32, 32));
}
header h1{
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    text-align: center;
}
p#burguer{
    text-align: left;
    display: block;
    cursor: pointer;
    margin: 10px;
    width: 30px;
    height: 30px;
}
menu{
    background-color: rgb(49, 49, 49);
    padding: 5px;
    margin: 0px 10px 20px 0px;
    display: none;
    width: 300px;
    border-radius: 10px 10px 10px 10px;
}
menu > ul{
    list-style: none;
}
menu > ul > li > a{
    display: block;
    padding:5px;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid rgb(66, 66, 66);;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
menu > ul > li > p{
    display: block;
    padding:5px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
} 
menu ul li a:hover{
    background-color: rgb(78, 77, 77);
    color: rgb(218, 215, 215);
    transition: 0.7s;
}

main{
    padding: 20px 0px 20px 0px;
    border-radius: 10px 10px 5px 5px;
    margin: 10px;
    min-height: 600px;
}
article{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
} 
article h1{
    text-align: center;
    margin: 0px 0px 10px 0px;
    font-size: xx-large;
    font-weight: 3em;
}
article p,ul,ol,li{
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 28px;
    margin-bottom: 20px;
}
section{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
footer{
    background-color: green;
    margin: 10px 0px 0px 0px;
}
footer p{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    text-shadow: 0px 0px 3px black;
}
h2{
    margin: 30px 0px 10px 0px;
    text-indent: 50px;
}
section input{
    text-align: center;
    font-size: large;
}
section select{
    font-size: large;
}
table{
   background-color: green;
   text-align: left;
   font-size: large;
}
th{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}
td{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
div.video{
    margin: auto;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
input{
    max-width: 80%;
}
